Makefile.txt
cyanomethcycloprop_gs.bak
cyanomethcycloprop_gs.cat
cyanomethcycloprop_gs.fit
cyanomethcycloprop_gs.int
cyanomethcycloprop_gs.lin
cyanomethcycloprop_gs.out
cyanomethcycloprop_gs.par
cyanomethcycloprop_gs.var
dblas.o
cnjj.o
catutil.o
calmrg.o
calpgm.pdf
calfit.o
calcat.o
dpcat
dpfit
calmrg
dpi.o
lsqfit.o
makefile.linux
slibgcc.o
sortsub.o
spcat
spfit
spinit.o
spinv.o
spinv.pdf
subfit.o
ulib.o
whats.new
