CMakeCache.txt
CMakeFiles
.cmake/api/v1/reply
MP2_6-311+G(2d,p)_(3-Cyano)Methylenecyclopropane_anharmonic_freq.txt
MP2_6-311+G(2d,p)_(3-Cyano)Methylenecyclopropane_anharmonic_freq.txt:Zone.Identifier
Makefile
cyanomethcycloprop_27.bak
cyanomethcycloprop_27.cat
cyanomethcycloprop_27.fit
cyanomethcycloprop_27.fre
cyanomethcycloprop_27.int
cyanomethcycloprop_27.lin
cyanomethcycloprop_27.out
cyanomethcycloprop_27.par
cyanomethcycloprop_27.res
cyanomethcycloprop_27.var
cyanomethcycloprop_gs.bak
cyanomethcycloprop_gs.cat
cyanomethcycloprop_gs.egy
cyanomethcycloprop_gs.fit
cyanomethcycloprop_gs.int
cyanomethcycloprop_gs.lin
cyanomethcycloprop_gs.out
cyanomethcycloprop_gs.par
cyanomethcycloprop_gs.res
cyanomethcycloprop_gs.str
cyanomethcycloprop_gs.var
cyanomethcycloprop_gsdummy.lin
output.txt
spcat
spfit
spinit.h.gch
spinv.c:Zone.Identifier
*.a
*.o
cmake_install.cmake
build/*
release/*
cmake_install.cmake
